%h1 this is the articles#index placeholder

- @articles.each do |a|
  %h2= link_to a.title, a
  %p= truncate(a.content, length: 300)
  %p
    Publié le
    = a.created_at.strftime('%d %b, %Y')
- if user_signed_in?
  = link_to "Nouvel article", new_article_path
